Extract and Transform Protected Species Data

In [68]:
import pandas as pd

In [69]:
# read in data table 
file_protected = "data/animal_impact.csv"
protected = pd.read_csv(file_protected)
protected

,Scientific Name\n,Common Name,Percentage of the species modelled likely and known distribution within fire affected areas,Type,EPBC Act listed Threatened Status,EPBC Act listed Migratory Status,Range states and territories
0,Acacia awestoniana,Stirling Range Wattle,?80%,Plant,Vulnerable,NaN,WA
1,Acacia constablei,Narrabarba Wattle,?80%,Plant,Vulnerable,NaN,NSW
2,Andersonia axilliflora,Giant Andersonia,?80%,Plant,Endangered,NaN,WA
3,Baeckea kandos,a shrub,?80%,Plant,Endangered,NaN,NSW
4,Bertmainius colonus,Eastern Stirling Range Pygmy Trapdoor Spider,?80%,Spider,Vulnerable,NaN,WA
...,...,...,...,...,...,...,...
326,Thesium australe,"Austral Toadflax, Toadflax",10 to <30%,Plant,Vulnerable,NaN,"ACT, NSW, Qld, Tas, Vic"
327,Westringia rupicola,NaN,10 to <30%,Plant,Vulnerable,NaN,"NSW, Qld"
328,Wollumbinia belli,"Bell's Turtle, Western Sawshelled Turtle, Namo...",10 to <30%,Reptile,Vulnerable,NaN,"NSW, Qld"
329,Xerochrysum palustre,"Swamp Everlasting, Swamp Paper Daisy",10 to <30%,Plant,Vulnerable,NaN,"NSW, SA, Tas, Vic"
330,Xerothamnella herbacea,NaN,10 to <30%,Plant,Endangered,NaN,Qld

In [70]:
# rename columns for simplicity
protected.columns # to print out column names for use in creating column dictionary
column_names = {'Scientific Name\n':'scientific',
            'Common Name' : 'common',
            'Percentage of the species modelled likely and known distribution within fire affected areas' : 'distribution',
            'Type':'type',
            'EPBC Act listed Threatened Status':'status',
            'EPBC Act listed Migratory Status':'migratory',
            'Range states and territories':'states'}
protected.rename(columns = column_names, inplace = True)
protected

,scientific,common,distribution,type,status,migratory,states
0,Acacia awestoniana,Stirling Range Wattle,?80%,Plant,Vulnerable,NaN,WA
1,Acacia constablei,Narrabarba Wattle,?80%,Plant,Vulnerable,NaN,NSW
2,Andersonia axilliflora,Giant Andersonia,?80%,Plant,Endangered,NaN,WA
3,Baeckea kandos,a shrub,?80%,Plant,Endangered,NaN,NSW
4,Bertmainius colonus,Eastern Stirling Range Pygmy Trapdoor Spider,?80%,Spider,Vulnerable,NaN,WA
...,...,...,...,...,...,...,...
326,Thesium australe,"Austral Toadflax, Toadflax",10 to <30%,Plant,Vulnerable,NaN,"ACT, NSW, Qld, Tas, Vic"
327,Westringia rupicola,NaN,10 to <30%,Plant,Vulnerable,NaN,"NSW, Qld"
328,Wollumbinia belli,"Bell's Turtle, Western Sawshelled Turtle, Namo...",10 to <30%,Reptile,Vulnerable,NaN,"NSW, Qld"
329,Xerochrysum palustre,"Swamp Everlasting, Swamp Paper Daisy",10 to <30%,Plant,Vulnerable,NaN,"NSW, SA, Tas, Vic"
330,Xerothamnella herbacea,NaN,10 to <30%,Plant,Endangered,NaN,Qld

In [71]:
# Explore the data
protected.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331 entries, 0 to 330
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   scientific    331 non-null    object
 1   common        271 non-null    object
 2   distribution  331 non-null    object
 3   type          331 non-null    object
 4   status        327 non-null    object
 5   migratory     5 non-null      object
 6   states        331 non-null    object
dtypes: object(7)
memory usage: 18.2+ KB

In [72]:
protected.type.unique()

array(['Plant', 'Spider', 'Mammal', 'Bird', 'Reptile', 'Frog', 'Fish',
       'Insect'], dtype=object)

In [73]:
protected.distribution.unique()

array(['?80%', '50 to <80%', '30 to <50%', '10 to <30%'], dtype=object)

In [74]:
protected.distribution.replace('?80%', '>80%', inplace = True)

In [75]:
protected.groupby(["type"]).count()

         scientific  common  distribution  status  migratory  states
type
Bird             13      13            13       9          5      13
Fish              4       4             4       4          0       4
Frog             14      14            14      14          0      14
Insect            4       4             4       4          0       4
Mammal           16      16            16      16          0      16
Plant           272     212           272     272          0     272
Reptile           7       7             7       7          0       7
Spider            1       1             1       1          0       1

In [76]:
# drop the plant data
protected_animals = protected[protected["type"]!="Plant"]
protected_animals.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59 entries, 4 to 328
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   scientific    59 non-null     object
 1   common        59 non-null     object
 2   distribution  59 non-null     object
 3   type          59 non-null     object
 4   status        55 non-null     object
 5   migratory     5 non-null      object
 6   states        59 non-null     object
dtypes: object(7)
memory usage: 3.7+ KB

In [77]:
protected_animals = protected_animals.fillna(0)

In [78]:
# reset index ready to convert df to json format
protected_animals.reset_index(inplace = True, drop = True)

In [79]:
# export data
protected_animals.to_csv('data/protected_animals.csv', index = False)

In [80]:
# convert transformed animal table to json to use with d3
protected_animals.to_json('data/protected_animals.json', orient = "index")

In [81]:
from sqlalchemy import create_engine
from config import postgresql_pword

In [82]:
# create engine
engine = create_engine(f'postgresql://postgres:{postgresql_pword}@localhost:5432/Project-2')
table_names = engine.table_names()
print(table_names)

['protected_animals']

C:\Users\kathe\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  This is separate from the ipykernel package so we can avoid doing imports until

In [66]:
protected_animals.columns

Index(['scientific', 'common', 'distribution', 'type', 'status', 'migratory',
       'states'],
      dtype='object')

In [67]:
protected_animals.to_sql(name="protected_animals", con=engine, if_exists='append', index=False)